.mainRegister {
  min-height: 100dvh;
  background-color: var(--homeHeader-Background);
}
.registerContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  display: flex;
  max-width: 400px;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input {
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #181818;
  color: #fff;
  font-size: 1rem;
}
.button {
  background: var(--buttons-ShopHover-Background, #d87d4a);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 0;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
  width: 100% !important;
}
.button:hover {
  background: #fbaf85;
}
.link {
  color: #d87d4a;
  text-align: center;
  text-decoration: underline;
  font-size: 0.95rem;
  cursor: pointer;
}
.googleButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #fff;
  color: #232323;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  margin-bottom: 8px;
}
.googleButton:hover {
  background: #f5f5f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 768px) {
}
